{% extends 'email/email_base_notification.html' %}

{% block body %}
<h1 style="font-size: 1.5em">Olvidaste tu contrase&ntilde;a?</h1>
<p>
  Hemos recibido una solicitud para cambiar la contrase&ntilde;a de tu cuenta:
  {{ user.username }}<br/>
  Si deseas cambiar tu contrase&ntilde;a por que la olvidaste,
  haz click en el siguiente enlace (o copialo y pegalo en tu navegador):<br/>
</p>
<p style="padding: 0.5em 1em; background: #444; -moz-border-radius: 10px; border-radius: 10px;">
    <a style="color: #FF8D01" href="{{ protocol }}://{{ domain }}{% url password_reset_confirm uid token %}">
        {{ protocol }}://{{ domain }}{% url password_reset_confirm uid token %}
    </a>
</p>
<p>
    Si no quieres cambiar tu contrase&ntilde;a, ignora este mensaje.
    Tu contrase&ntilde;a no ser&aacute; cambiada. Si tienes alguna duda
    cont&aacute;ctanos.
</p>
<p>
  Gracias,<br/>
  <span style="color:#888">El equipo de {{ site_name }}</span>
</p>
{% endblock %}
