{% extends "base/layout.html" %}
{% load i18n %}

{% block bodyclass %}{{block.super}} small{% endblock %}
{% block beforewrapper %}{% endblock %}
{% block mainmenu %}{% endblock %}

{% block content %}
    <h1>{% trans "Cambiar contraseña" %}</h1>
    
    <p>
        {% trans "Olvidaste tu contraseña? Ingresa tu e-mail abajo, y te enviaremos un mail con instrucciones para configurar uno nuevo." %}
    </p>

    <form action="" method="post">
        <fieldset>
          <legend>{% block legend %}{% endblock%}</legend>
            {% csrf_token %}
            {{ form.email.errors }}

            <div class="field-wrapper {{field.name}} clearfix {% if field.errors %}invalid{% endif %}">
                <label for="id_email">{% trans 'Tu e-mail:' %}
                </label>
                {{ form.email }}
            </div>
            <div class="field-wrapper clearfix submit">
                <button type="submit">{% trans 'Reset my password' %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
